
@main("Home") {
  <div class="container text-center">
    <h4 >Welcome to AnimeWorld!</h4>
    <p>The best site for your favourite anime and manga reviews!</p>
    <p>AnimeWorld is the largest anime and manga database and community created by anime fans, for all other anime fans out there.</p>
    <p>We provide users with a quick and no-hassle way to catalog their anime and manga collections, as well as a platform to communicate with like minded fans.</p>
    <p>Read and stay up to date with all Anime Movies, Anime Series and Mangas.</p>
    <p>This is the best site to read the latest reviews of all your favorite anime movies, series and also your favourite mangas.</p>
    <p>Check the latest popular movies，recently updated series and mangas like Naruto, One Piece and Bleach.</p>
    <p>Enjoy Reading!</p>
  </div>
  }
