@(series: List[models.Series])

@main("Anime Series") {
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="well">
          <h4>Anime Series</h4>
        </div>
      </div>
      <div class="col-sm-10">

        @if(flash.containsKey("success")) {
          <div class="alert alert-success">
          @flash.get("success")
          </div>
        }

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Genre</th>
              <th>Studio</th>
              <th>Release Year</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
          @for(s <- series) {
            <tr>
              <td class="numeric">@s.getId</td>
              <td>@s.getName</td>
              <td>@s.getGenre</td>
              <td>@s.getStudio</td>
              <td class="numeric">@s.getRealeaseYear</td>
              <td class="numeric">@s.getRating</td>
                <!-- Delete a product from stock -->
              <td>
                <a href="@routes.HomeController.deleteSerie(s.getId)" class="btn-xs btn-danger" onclick="return confirmDel();">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          }
          </tbody>
        </table>
        <p>
          <a href="@routes.HomeController.uploadseries()">
            <button class="btn btn-primary">Upload a Serie</button>
          </a>
        </p>
      </div>
    </div>
  </div>

  <script>
          function confirmDel() {
            return confirm('Are you sure?');
          }
  </script>
}
