
  @main("Signup") {

  <div class="container">

  <h4 class="container text-center">Sign Up</h4>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="name">Username:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary btn-sm center-block">Sign Up</button>
  </form>
</div>
}
