@import helper._

@(uploadSerieForm: Form[models.Series])
@main("Upload Series") {

    @form(action = routes.HomeController.uploadSerieSubmit(), 'class -> "form-horizontal", 'role->"form") {

        @inputText(uploadSerieForm("name"), '_label -> "Name",'class -> "form-control")
        @inputText(uploadSerieForm("genre"), '_label -> "Genre",'class -> "form-control")
        @inputText(uploadSerieForm("studio"), '_label -> "Studio",'class -> "form-control")
        @inputText(uploadSerieForm("realeaseYear"), '_label -> "Release Year",'class -> "form-control")
        @inputText(uploadSerieForm("rating"), '_label -> "Rating",'class -> "form-control")

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="@routes.HomeController.series()"><button class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }


}
